
@charset "UTF-8";

/*=================================== Custom fonts ===================================*/

@font-face { font-family:'Geomanist-Regular'; src:url(/assets/fonts/Geomanist-Regular.otf); font-weight:normal; }
@font-face { font-family:'Geomanist-Book'; src:url(/assets/fonts/Geomanist-Book.otf); font-weight:normal; }
@font-face { font-family:'Geomanist-Medium'; src:url(/assets/fonts/Geomanist-Medium.otf); font-weight:normal; }

/*=================================== Initialization & General ===================================*/

/*Universal initialization*/
* { margin:0; padding:0; border:none; box-sizing:border-box; }
html { font-size:1vw; }
body, body > section { width:100%; overflow-x:hidden; }
h1, h2, h3, h4, h5, h6, p { border:0; font-size:inherit; font-weight:inherit; }
button { background-color:transparent; background-repeat:no-repeat; cursor:pointer; overflow: hidden; outline:none; }
h1 p, h2 p, h3 p, h4 p, h5 p, h6 p, span p { margin-bottom:1rem; }
input:focus, select:focus, textarea:focus, button:focus { outline:none; }
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { display:none; }

/*Site-specific initialization*/


/*=================================== Universal Framework ===================================*/

/*--Universal framework--*/
/*Content alignment*/
.leftText { text-align:left; }
.rightText { text-align:right; }
.centeredText { text-align:center; }
.floatLeft { float:left; }
.floatRight { float:right; }
.alignStart { align-self:start; }
.alignEnd { align-self:end; }
.alignFlexEnd { align-self:flex-end; }
.hCentered { text-align:center; }
.vCentered { display:flex; align-items:center; flex-direction:column; justify-content:center; }
.vEnd { display:flex; flex-direction:column; justify-content:flex-end; }
/*Position properties*/
.relative { position:relative; }
.absolute { position:absolute; }
.absolute.top { top: 0; }
.absolute.bottom { bottom: 0; }
.absolute.left { left: 0; }
.absolute.right { right: 0; }
.fixed { position:fixed; }
/*Display properties*/
.flex { display:flex; }
.flexEnd { align-self:flex-end; }
.flexGrow { flex-grow:1; }
.flexShrink { flex-shrink:1; }
.flexFixed { flex-shrink:0; }
.hFlex { display:flex; flex-direction:row; }
.vFlex { display:flex; flex-direction:column; }
.inline { display:inline; }
.inlineBlock { display:inline-block; }
.inlineFlex { display:inline-flex; }
.block { display:block; }
/*Standard dimensions*/
.width25 { width:25%; }
.width33 { width:33%; }
.width45 { width:45%; }
.width50 { width:50%; }
.width55 { width:55%; }
.width66 { width:66%; }
.width75 { width:75%; }
.width85 { width:85%; }
.width90 { width:90%; }
.width100 { width:100%; }
.height100 { height:100%; }
/*Visual styles*/
.blankList { list-style:none; }
.circle { border-radius:50%; }
.monochrome { -webkit-filter:grayscale(100%); /* Safari 6.0 - 9.0 */ filter:grayscale(100%); }
.multiply { mix-blend-mode:multiply; }
.vertical { transform:rotate(270deg); }
/*Other*/
.clickable { cursor:pointer; }
.cover { object-fit:cover; }
.scaleDown { object-fit:scale-down; }
.doubleColumns { column-count:2; }
*:disabled { opacity:0.3; cursor:default; }


/*=================================== Universal Snippets ===================================*/

/*Direct access carousel*/
.carousel.directAccess .item:first-of-type { display:block; }
.carousel.directAccess .item { display:none; }

/*Slide Carousel*/
.carousel { overflow:hidden; }
.carousel.slide .items, .carousel.multiSlide .items { display:flex; flex-direction:row; position:relative; }
.carousel.slide .items .item, .carousel.multiSlide .items .item { flex:none; }

/*Lightbox*/
.lightbox { cursor:pointer; }
.lightbox.active { width:100vw; height:100vh; left:0; top:0; margin:0 !important; padding:3rem; position:fixed; background:url(/assets/images/icon-close.png) rgba(255, 255, 255, 0.90) no-repeat top 1rem right 3rem; background-size:1rem; }
.lightbox.active img { height:auto !important; }


/*=================================== Site-specific Framework & Snippets ===================================*/

/*Site-specific grids*/
.grid2C { display:grid; grid-template-columns:1fr 1fr; gap:1.5rem; }
.grid2C.largeGap { gap: 6rem; }
.grid2C.ratio1-2 { grid-template-columns:1fr 2fr; gap:6.5rem; }
.grid2C.ratio3-2 { grid-template-columns:3fr 2fr; grid-column-gap:18rem; grid-row-gap:10rem; }
.alignRight > .grid2C { grid-template-columns:0.88fr 1.12fr; }
.grid3C { display:grid; grid-template-columns:1fr 1fr 1fr; gap:1.5rem; }
.grid3C > *:not(.item) { grid-column:1/4; }
.grid3C .item:nth-of-type(3n) { margin-right:0; }
.grid3C .item.square, .grid3C .item .square, .grid3C .item .square img { height:25rem; }
.carousel .grid3C .item:nth-of-type(3n) { margin-right:1.5rem; }

/*Site-specific standard paddings*/
.padding { padding:5rem 10rem 4rem; }
.hPadding { padding-left:10rem; padding-right:10rem; }
.vPadding { padding-top:5rem; padding-bottom:4rem; }
.topPadding { padding-top:5rem; }
.bottomPadding { padding-bottom:4rem; }
.leftPadding { padding-left:10rem; }
.rightPadding { padding-right:10rem; }
/*Site-specific large paddings*/
.largeTopPadding, section:first-of-type { padding-top:20rem; }
.largeBottomPadding { padding-bottom:12rem; }
.largeRightPadding { padding-right:20rem; }
/*Site-specific small & extra small paddings*/
.smallPadding { padding:6rem; }
.smallLeftPadding { padding-right:6rem; }
.smallRightPadding { padding-right:6rem; }
.extraSmallPadding { padding:1.5rem; }
.extraSmallTopPadding { padding-top:1.5rem; }
/*Site-specific padding exceptions*/
.padding.alignLeft, .hPadding.alignLeft { padding-left:0; padding-right:16rem; }
.padding.alignRight, .hPadding.alignRight { padding-right:0; }
.padding.alignFarRight, .hPadding.alignFarRight { padding-left:40rem; padding-right:16rem; }
header.padding { padding:3rem 10rem 0; }
footer.padding { padding:3rem 10rem 3rem 3rem; }

/*Site-specific standards margins*/
span.topMargin, span.bottomMargin, span.smallTopMargin, span.smallBottomMargin { display:inline-block; }
.topMargin { margin-top:3rem; }
.bottomMargin { margin-bottom:3rem; }
/*Site-specific large margins*/
.largeTopMargin { margin-top:6rem; }
.largeBottomMargin { margin-bottom:6rem; }
/*Site-specific small margins*/
.smallTopMargin { margin-top:1.5rem; }
.smallBottomMargin { margin-bottom:1.5rem; }
.smallLeftMargin { margin-left:1.5rem; }

/*Site-specific framework: Backgrounds*/
.whiteBackground { background-color:#fff; }
.blackBackground { background-color:#000; }
.beigeBackground { background-color:#f5f4ef; }
.brownBackground { background-color:#cec7b8; }
.greenBackground { background-color:#637950; }
.lightGreenBackground { background-color:#bed295; }
.darkGreenBackground { background-color:#1c3f41; }

/*Site-specific framework: Borders*/
.border.darkGreen { border:0.08rem solid #1c3f41; }
.topBorder.darkGreen { border-top:0.08rem solid #1c3f41; }
.rightBorder.darkGreen { border-right:0.08rem solid #1c3f41; }
.topBorder.white { border-top:0.08rem solid #fff; }
.leftBorder.darkGreen { border-left:0.08rem solid #1c3f41; }
.strongTopBorder.darkGreen { border-top:0.16rem solid #1c3f41 !important; }
.strongTopBorder.white { border-top:0.16rem solid #fff; }

/*Site-specific framework: Buttons & icons*/
button.circle { width:8rem; height:8rem; background-repeat:no-repeat; background-size:cover; border-radius:0; }
button.circle.book { background-image:url("/assets/images/icon-book-green.png"); }
button.circle.book:hover { background-image:url("/assets/images/icon-book-darkGreen.png"); }
button.circle.more { background-image:url("/assets/images/icon-more-green.png"); }
button.circle.more:hover { background-image:url("/assets/images/icon-more-darkGreen.png"); }
button.circle.newsletter { background-image:url("/assets/images/icon-newsletter-green.png"); }
button.circle.newsletter:hover { background-image:url("/assets/images/icon-newsletter-darkGreen.png"); }
button.circle.newsletter.white { background-image:url("/assets/images/icon-newsletter-white.png"); }
button.circle.newsletter.white:hover { background-image:url("/assets/images/icon-newsletter-lightGreen.png"); }
button.circle.cancellation { background-image:url("/assets/images/icon-cancellation-green.png"); }
button.circle.cancellation:hover { background-image:url("/assets/images/icon-cancellation-darkGreen.png"); }
button.circle.question { background-image:url("/assets/images/icon-question-green.png"); }
button.circle.question:hover { background-image:url("/assets/images/icon-question-darkGreen.png"); }
button.circle.right { right:-5rem; }
button.circle.bottom { bottom:3rem; }
button.highlight { width:10rem; height:10rem; border-radius:50%; transform:rotate(-15deg); text-align:center; position:absolute; cursor:default; }
button.highlight.top { top:-5rem; }
button.highlight.right { right:3rem; }
button.line { width:2rem; height:0.15rem; margin-left:-0.2rem; margin-right:-0.2rem; }
button.line.lightGreenBackground:hover, button.line.lightGreenBackground.active { background-color:#1c3f41; }
button.next { min-width:1.5rem; min-height:1.5rem; padding-right:3rem; text-align:left; }
button.next.darkGreen { background:url("/assets/images/icon-next-darkGreen.png") no-repeat center right; background-size:1.5rem; }
button.next.white { background:url("/assets/images/icon-next-white.png") no-repeat center right; background-size:1.5rem; }
button.previous { min-width:1.5rem; min-height:1.5rem; padding-left:3rem; text-align:right; }
button.previous.darkGreen { background:url("/assets/images/icon-previous-darkGreen.png") no-repeat center left; background-size:1.5rem; }
button.circledNext { height:2.3rem; padding-right:4rem; text-align:left; }
button.circledNext.darkGreen { background:url("/assets/images/icon-next-circled-darkGreen.png") no-repeat center right; background-size:2.3rem; }
button.circledNext.circleOnly { padding-right: 2.3rem; }
button.rectangle { height:4rem; padding:1rem 4rem 1rem 1rem; text-align:left; background-repeat:no-repeat; background-position:center right 1rem; background-size:2.3rem; }
button.rectangle.darkGreen { border:0.08rem solid #1c3f41; background-image:url("/assets/images/icon-next-circled-darkGreen.png"); }
button.rectangle.darkGreen:hover { background-color:#1c3f41; background-image:url("/assets/images/icon-next-circled-white.png"); }
button.rectangle.white { border:0.08rem solid #fff; background-image:url("/assets/images/icon-next-circled-white.png"); }
button.rectangle.white:hover { background-color:#fff; background-image:url("/assets/images/icon-next-circled-darkGreen.png"); }
button.sticker { width:12rem; height:12rem; border-radius:50%; transform:rotate(-15deg); text-align:center; position:absolute; }
button.sticker.greenBackground:hover { background-color:#1c3f41; }
button.sticker.lightGreenBackground:hover { background-color:#f5f4ef; }
button.sticker.top { top:3rem; }
button.sticker.left { left:-6rem; }
button.sticker.right { right:-6rem; }
span.footnote { transform:rotate(-90deg); transform-origin:bottom right; position:absolute; }
span.footnote.top.right { top:0; right:1.5rem; }

/*Snippets*/
ul.arrow li { list-style:none; padding:0.8rem 3rem 0.8rem 0; background-repeat:no-repeat; background-position:center right; background-size:1.5rem; }
ul.arrow.darkGreen li { background-image:url("/assets/images/icon-next-darkGreen.png");  }
.dataList ul li { list-style:none; padding:0.8rem 0; }
.dataList.darkGreen ul li { border-top:0.08rem solid #1c3f41; }
.dataList.darkGreen ul li:first-of-type { border-top:0.16rem solid #1c3f41; }
div.data.darkGreen { padding:0.8rem 0; border-top:0.08rem solid #1c3f41; }

.hoverFlip .flip:nth-child(2) { visibility:hidden; }
.hoverFlip:hover .flip:first-child { display:none; }
.hoverFlip:hover .flip:nth-child(2) { visibility:visible; }
.item .cutout { width:100%; height:100%; top:0; left:0; z-index:100; position:absolute; display:none; }
.item .cutout.darkGreen { background:url("/assets/images/cutOut-darkGreen.png") no-repeat; background-size:cover; }
.item:hover .cutout { display:block; }

/*=================================== Templates ===================================*/

body { background-repeat:no-repeat; background-size:50%; }
footer { height:25rem; }

section.overview .item img { z-index:5; display:none; }
section.overview .item:hover img { display:block; }
section.overview .item.product img { display:block; }

section.studios .item, section.studios .item img { height:48rem; }
section.studios .item img { z-index:5; }
section.studios .studio .item img.left { left:-100%; }
section.studios .studio .item img.right { right:-100%; }
section.studios .studio:nth-of-type(2) .item img { display:none; }

.treatmentCategory section.treatments .item .contact { display:none; }
.treatmentCategory section.treatments .item:hover .contact { display:block; }

/*=================================== Texts ===================================*/

/*Default text styles*/
span, select { font:400 1.3rem/1.8rem "Geomanist-Regular", sans-serif; letter-spacing:0.02rem; }
span.small { font:400 1.15rem/1.65rem "Geomanist-Regular", sans-serif; letter-spacing:0.02rem; }
span.extraSmall, .dataList { font:400 1rem/1.5rem "Geomanist-Regular", sans-serif; letter-spacing:0.02rem; }
h1 { font:500 7.5rem/8rem "new-spirit", sans-serif; }
h1.small { font:500 3.5rem/4rem "new-spirit", sans-serif; }
h2, h4, nav, nav span { font:400 1rem/1.5rem "Geomanist-Book", sans-serif; text-transform:uppercase; letter-spacing:0.07rem; }
h3.small { font:400 1.8rem/2.4rem "new-spirit", sans-serif; }
h3.extraSmall { font:400 1.5rem/2.1rem "new-spirit", sans-serif; }
h3, h2.large, span.large, p.large { font:400 2.2rem/2.88rem "new-spirit", sans-serif; text-transform:none; }
button.sticker, button.highlight, button.rectangle { font:400 1.3rem/2.1rem "new-spirit", sans-serif; letter-spacing:0.02rem; }
button.circledNext, ul.arrow { font:400 1.3rem/2.3rem "new-spirit", sans-serif; }
button.next { font:400 2.2rem/2.2rem "Geomanist-Regular", sans-serif; }
h2 span.small { text-transform: none; }
/*Text styles*/
.black, .black a { color:#000; }
.white, .white a, button.rectangle.darkGreen:hover { color:#fff; }
.darkGreen, .darkGreen a, button.rectangle.white:hover { color:#1c3f41; }
.green { color:#637950; }
.italic { font-style:italic !important; }
.uppercase { text-transform:uppercase; }

/*Link styles*/
.alwaysUnderline, .alwaysUnderline a, .hoverUnderline:hover, button.next, button.circledNext { text-decoration:underline; }
.noUnderline, .noUnderline a:link, .noUnderline a:visited, .noUnderline a:hover, .noUnderline a:active, span a:hover, span a:active, h1 a:link, h1:visited, h2 a:link, h2:visited, h3 a:link, h3:visited, button:hover { text-decoration:none !important; }


/*=================================== Christenscheiss ===================================*/

.amount-input .controls {display: grid;grid-template-columns: 1fr 1fr 1fr;}
.amount-input button { height: 2.88rem; width: 2.88rem;border: 0.08rem solid #1c3f41;}
.amount-input button:hover { background: white; }
.amount-input .amount-number { height: 2.88rem; width: 2.88rem;}
.amount-input span {font:200 1.3rem/2.88rem "new-spirit", sans-serif; letter-spacing:0.02rem;}

span.small a.uppercase { text-transform:uppercase; letter-spacing:0.05rem;}

nav.breadcrumb ol { list-style: none;}
nav.breadcrumb .clear { clear: both; }
nav.breadcrumb ol li { float: left; padding-left: 0.3rem; margin-left: 0.3rem;}
nav.breadcrumb ol li::before {content:'·'; padding-right: 0.3rem;}
nav.breadcrumb ol li:first-child {padding-left: 0rem; margin-left: 0rem;}
nav.breadcrumb ol li:first-child::before {content:none;}
nav.breadcrumb ol li a { text-decoration: none;}
nav.breadcrumb { text-transform: none; }

select.sort { cursor:pointer; background: transparent; text-transform: uppercase; letter-spacing: 0.1rem; text-decoration: underline; font-size: 1.1rem; }

/*=================================== Modal Dialog Styles ===================================*/
.modal {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  width: 33%;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  background: #fff;
}
.modal.in { transform: translateX(0); }

.modal .header {padding: 0 32px; background-color: #1c3f41; color: #fff; min-height: 96px; display: flex; flex: 1; flex-shrink: 0; justify-content: space-between; align-items: center; }
.modal .header h1 {font-weight: 500;line-height: 20px; font-size: 18px; font-family: "Geomanist-Regular", sans-serif;}
.modal .content {padding: 0 32px; }

/*=================================== Newsletter form Styles ===================================*/
.newsletter form input { border: 1px solid #637950 !important; font-weight: 500;
  line-height: 0.8rem;
  padding: 0.6rem 0.8rem !important; width:100%; border-radius: 0 !important;}
.newsletter form td {font:400 1.6rem/1.8rem "Geomanist-Regular", sans-serif;}
.newsletter form td button { border: 1px solid #1c3f41!important; border-radius: 0!important; background-color:#1c3f41 !important;font:400 1.1rem/1.8rem "Geomanist-Regular", sans-serif;}
.newsletter form td button:hover { background-color:#fff !important; color:#1c3f41 !important;}
/*=================================== Snipcart Styles ===================================*/

.snipcart * { font-family: "Geomanist-Book", sans-serif !important; }
.snipcart .snipcart-cart__secondary-header { background-color: #1c3f41; color: #fff;}
.snipcart .snipcart__actions--link { color: #1c3f41; }

button.snipcart-cart-button { line-height: 2.2rem; height:4rem; padding:1rem 4rem 1rem 1rem; text-align:left; background-repeat:no-repeat; background-position:center right 1rem; background-size:2.3rem; }
button.snipcart-cart-button:hover { border:0.08rem solid #1c3f41; background-color:#fff; color:#1c3f41; }
button.snipcart-cart-button { background-color:#1c3f41; border:0.08rem solid #1c3f41; background-image: none;}
button.snipcart-cart-button svg { transition: transform 0.5s ease-in-out; }
button.snipcart-cart-button svg path { fill: #fff !important; }
button.snipcart-cart-button:hover svg path { fill: #1c3f41 !important; }
button.snipcart-cart-button:hover svg { transform: translateX(3rem); stroke: #1c3f41; }
.snipcart .snipcart__icon--blue-dark path { fill: #1c3f41; }
.snipcart .snipcart__icon--blue-light path { fill: #637950; }
.snipcart .snipcart__box--badge-highlight, .snipcart .snipcart-form-radio:checked+label:before { background: linear-gradient(90deg,#637950,#bed295); }
.snipcart .snipcart-discount-box__form { border: 1px solid #637950; }
.snipcart .snipcart-discount-box__submit { color: #637950; }
.snipcart .snipcart-cart__footer-col div.snipcart__actions--link { position:relative; }
.snipcart .snipcart-cart__footer-col div.snipcart__actions--link::after {content:'Detaillierter Warenkorb'; display:block; position: absolute; top:0px; left:0px; width: 100%; background: #fff;}

/*=================================== Mobile Styles ===================================*/

@media all and (max-width:600px) {

	/*Universal initialization*/

	/*Site-specific initialization*/

	/*=================================== Snippets ===================================*/

	/*Site-specific snippets*/

	/*=================================== Templates ===================================*/


	/*=================================== Texts ===================================*/

	/*Default text styles*/
}
